body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.half-width{
    
    display: flex;
    padding: 5%;
}
.first-style h1{
    font-size: 60px;
}
.color-tomato{
    color: tomato;
}
.first-style p{
    text-align: justify;
}
.first-style{
    width: 80%;
    padding-right: 20px;
}
.image-design{
    width: 40%;
    
}
.batton-design{
    color: gray;
    text-decoration: none;
    padding: 8px 15px;
    
    border-radius: 25px;
    border: 3px solid tomato;
    border-color:tomato;
}
.batton-design:hover{
    background-color: tomato;
    transition-duration: 0.3s;
    color: white;
}
.bcg-image{
    background-image: url(images/shapes/Frame\ 58.jpg);
}
.center-text{
    text-align: center;
}
.center-text h1{
    font-size: 60px;
}
.center-text p{
    padding: 0 20% 0 20%;
}
